.global-nav
  .container
    %i.fa.fa-twitter.center
    %ul.nav--global-actions
      %li
        = link_to root_path, data: { turbolinks: false } , class: :active do
          %i.fa.fa-home
          %span.text ホーム
    %ul.nav--right-actions.pull-right
      %li
        %a{href: "/"}
          = image_tag("default_profile_normal.png",size: "32x32", class: "avatar dropdown-toggle")
        .dropdown-menu
          .dropdown-caret
            .caret-wrapper
              .caret-outer
                %i.fa.fa-caret-up
              .caret-inner
                %i.fa.fa-caret-up
          %ul
            %li.DashUserDropdown-userInfo
              %a.DashUserDropdown-userInfoLink{href: "/"}
                %b.fullname
                  = current_user.nickname
                %p.name
                  = "@" + current_user.name
            %li.dropdown-divider
            %li.current-user
              %a{href: "/"}
                %i.fa.fa-user-o
                プロフィール
            %li.dropdown-divider
            %li.signout-button
              = link_to "ログアウト", destroy_user_session_path, method: :delete

      %li
        %button.EdgeButton.EdgeButton--medium.EdgeButton--primary2
          ツイート

