.global-nav
  .container
    %i.fa.fa-twitter.center
    %ul.nav--global-actions
      %li#global-nav-home
        = link_to root_path do
          %i.fa.fa-home
          %span.text ホーム
    %ul.nav--right-actions.pull-right
      %li
        %a{href: "/"}
          = image_tag("default_profile_normal.png",size: "32x32", class: "avatar dropdown-toggle")
        .dropdown-menu
          .dropdown-caret
            .caret-wrapper
              .caret-outer
                %i.fa.fa-caret-up
              .caret-inner
                %i.fa.fa-caret-up
          %ul
            %li.DashUserDropdown-userInfo
              %a.DashUserDropdown-userInfoLink{href: "/"}
                %b.fullname
                  = current_user.nickname
                %p.name
                  = "@" + current_user.name
            %li.dropdown-divider
            %li.current-user
              %a{href: "/"}
                %i.fa.fa-user-o
                プロフィール
            %li.dropdown-divider
            %li.signout-button
              = link_to "ログアウト", destroy_user_session_path, method: :delete
      %li
        %button.EdgeButton.EdgeButton--medium.EdgeButton--primary2
          ツイート
.page-outer
  #profile-container.AppContent.clearfix
    .ProfileCanopy.ProfileCanopy--withnav.ProfileCanopy--large
      .ProfileCanopy--inner
        .ProfileCanopy-header.u-bgUserColor
          .ProfileCanopy-headerBg
            / %img{src: "https://pbs.twimg.com/profile_banners/14123402/1476590187/1500x500"}
          .AppContainer
            .ProfileCanopy-avatar
              .ProfileAvatar.u-bgUserColor
                / %img.ProfileAvatar-image{src:"https://pbs.twimg.com/profile_images/906014465631461376/3VTSoffY_400x400.jpg"}
                / %img.ProfileAvatar-image{src:"https://pbs.twimg.com/profile_images/906014465631461376/3VTSoffY_400x400.jpg"}
                = image_tag("owner_empty_avatar.png", class: "ProfileAvatar-image")
        .ProfileCanopy-navbar.u-boxShadow
          .AppContainer
            .Grid.Grid--withGutter
              .Grid-cell.u-size1of3
              .Grid-cell.u-size2of3
                .ProfileNav
                  %ul.ProfileNav-list
                    %li.ProfileNav-item.ProfileNav-item--tweets.isActive
                      %a.ProfileNav-stat.u-textCenter{href: ""}
                        %span.ProfileNav-label ツイート
                        %span.ProfileNav-value 50
                    %li.ProfileNav-item.ProfileNav-item--following
                      %a.ProfileNav-stat.u-textCenter{href: ""}
                        %span.ProfileNav-label フォロー
                        %span.ProfileNav-value 100
                    %li.ProfileNav-item.ProfileNav-item--follower
                      %a.ProfileNav-stat.u-textCenter{href: ""}
                        %span.ProfileNav-label フォロワー
                        %span.ProfileNav-value 1000
                    %li.ProfileNav-item.ProfileNav-item--userActions.u-floatRight.u-textRight
                      .UserActions
                        %button.EdgeButton.EdgeButton--medium.EdgeButton--tertiary
                          プロフィールを編集
                        / %button.EdgeButton.EdgeButton--medium.EdgeButton--secondary
                        /   フォローする







