.global-nav
  .container
    .ProfilePage-editingOverlay
    %i.fa.fa-twitter.center
    %ul.nav--global-actions
      %li#global-nav-home
        = link_to root_path do
          %i.fa.fa-home
          %span.text ホーム
    = render "layouts/topbar_right_items"
.page-outer
  -if @user.errors.any?
    .alert-messages
      .message
        %a.close{href: ""}
          %i.fa.fa-times
        - @user.errors.full_messages.each do |msg|
          %span.message-text= msg
  #profile-container.AppContent.clearfix
    .ProfilePage-editingOverlay
    = form_for(@user) do |f|
      .ProfileCanopy.ProfileCanopy--withnav.ProfileCanopy--large
        .ProfileCanopy--inner
          .ProfileCanopy-header.u-bgUserColor
            .ProfileCanopy-headerBg
              - if @user.image_canopy.present? then
                = image_tag(@user.image_canopy.url)
              / %img{src: "https://pbs.twimg.com/profile_banners/14123402/1476590187/1500x500"}
            .ProfileHeaderEditing
              .ProfileHeaderEditing-overlay
              %button.ProfileHeaderEditing-button
                .ProfileHeaderEditing-addHeaderHelp
                  - if current_user.image_canopy.present? then
                    %i.fa.fa-picture-o
                    %p ヘッダー画像を変更する
                  - else
                    %i.fa.fa-camera
                    %p ヘッダー画像を追加する
              #choose-header-container
                #choose-header.dropdown.center
                  .uploader-image.clearfix
                    .dropdown-menu#header-dropdown-menu
                      .dropdown-caret
                        .caret-outer
                          %i.fa.fa-caret-up
                        .caret-inner
                          %i.fa.fa-caret-up
                      %ul
                        %li#header-choose-new
                          = f.file_field :image_canopy, autocomplete: "false"
                          %button#header-choose-button.dropdown-link
                            画像をアップロード
                        - if current_user.image_canopy.present? then
                          %li#header-choose-new
                            = f.check_box :remove_image_canopy
                            %button#header-drop-button.dropdown-link
                              削除
                        %li.dropdown-divider
                        %li#header-cancel-option
                          %button#header-cancel-button.dropdown-link
                            キャンセル
            .AppContainer
              .ProfileCanopy-avatar
                .ProfileAvatar.u-bgUserColor
                  - if @user.image_avatar.present? then
                    = image_tag(@user.image_avatar.url, class: "ProfileAvatar-image")
                  - elsif @user.id == current_user.id then
                    = image_tag("owner_empty_avatar.png", class: "ProfileAvatar-image")
                  - else
                    = image_tag("default_profile_normal.png", class: "ProfileAvatar-image")
                .ProfileAvatarEditing
                  - if current_user.image_avatar.present? then
                    = image_tag(current_user.image_avatar.url, class: "ProfileAvatarEditing-placeholder")
                  -else
                    .ProfileAvatarEditing-placeholder.u-bgUserColor
                  .ProfileAvatarEditing-overlay
                  %button.ProfileAvatarEditing-button
                    .ProfileAvatarEditing-addAvatarHelp
                      - if current_user.image_avatar.present? then
                        %i.fa.fa-picture-o
                        %p プロフィール画像を変更
                      - else
                        %i.fa.fa-camera
                        %p プロフィール画像を追加
                  #choose-photo.dropdown.center
                    .uploader-image.clearfix
                      .dropdown-menu#avatar-dropdown-menu
                        .dropdown-caret
                          .caret-outer
                            %i.fa.fa-caret-up
                          .caret-inner
                            %i.fa.fa-caret-up
                        %ul
                          %li#photo-choose-new
                            = f.file_field :image_avatar, autocomplete: "false"
                            %button#avatar-choose-button.dropdown-link
                              画像をアップロード
                          - if current_user.image_avatar.present? then
                            %li#photo-choose-new
                              = f.check_box :remove_image_avatar
                              %button#avatar-drop-button.dropdown-link
                                削除
                          %li.dropdown-divider
                          %li#cancel-option
                            %button#avatar-cancel-button.dropdown-link
                              キャンセル
          .ProfileCanopy-navbar.u-boxShadow
            .ProfilePage-editingOverlay
            .AppContainer
              .Grid.Grid--withGutter
                .Grid-cell.u-size1of3
                .Grid-cell.u-size2of3
                  .ProfileNav
                    %ul.ProfileNav-list
                      %li.ProfileNav-item.ProfileNav-item--tweets.isActive
                        %a.ProfileNav-stat.u-textCenter{href: ""}
                          %span.ProfileNav-label ツイート
                          %span.ProfileNav-value 50
                      %li.ProfileNav-item.ProfileNav-item--following
                        %a.ProfileNav-stat.u-textCenter{href: ""}
                          %span.ProfileNav-label フォロー
                          %span.ProfileNav-value 100
                      %li.ProfileNav-item.ProfileNav-item--follower
                        %a.ProfileNav-stat.u-textCenter{href: ""}
                          %span.ProfileNav-label フォロワー
                          %span.ProfileNav-value 1000
                      %li.ProfileNav-item.ProfileNav-item--userActions.u-floatRight.u-textRight
                        .UserActions
                          - if user_signed_in? && current_user.id == @user.id
                            %button.EdgeButton.EdgeButton--medium.EdgeButton--tertiary#ProfileEditButton
                              プロフィールを編集
                          - else
                            %button.EdgeButton.EdgeButton--medium.EdgeButton--secondary
                              フォローする
                          .ProfilePage-editingButtons
                            %button.EdgeButton.EdgeButton--medium.EdgeButton--tertiary#ProfileEditCancelButton
                              キャンセル
                            = f.submit "変更を保存", class: 'EdgeButton EdgeButton--medium EdgeButton--secondary'
      .AppContainer
        .AppContent-main
          .Grid.Grid--withGutter
            .Grid-cell.u-size1of3
              .Grid.Grid--withGutter
                .Grid-cell
                  .ProfileSidebar.ProfileSidebar-withLeftAlignment
                    .ProfileHeaderCard
                      %h1.ProfileHeaderCard-name
                        = @user.nickname
                      %h2.ProfileHeaderCard-screenname.u-inlineBlock
                        = "@" + @user.name
                      %p.ProfileHeaderCard-bio
                        = @user.biography
                    .ProfileHeaderCardEditing.u-bgColorLightest
                      .ProfileHeaderCardEditing-name.ProfileHeaderCardEditing-item
                        = f.text_field :nickname, autofocus: true, class: "ProfileHeaderCardEditing-editableField u-borderUserColorLight", maxlength: "50", placeholder: "名前"
                      .ProfileHeaderCardEditing-screenname.u-textUserColor
                        = "@" + @user.name
                      .ProfileHeaderCardEditing-bio.ProfileHeaderCardEditing-item
                        = f.text_area :biography, autofocus: true, class: "ProfileHeaderCardEditing-editableField u-borderUserColorLight", placeholder: "自己紹介"

            .Grid-cell.u-size2of3
              .Grid.Grid--withGutter
                .Grid-cell
                  .ProfileHeading
                    .ProfileHeading-spacer
                    .ProfileHeading-content
                      %ul.ProfileHeading-toggle
                        %li.ProfileHeading-toggleItem.is-active
                          %span ツイート
                  .ProfileTimeline#timeline
                    .stream-container
                      .stream
                        %ol.stream-items
                          - @tweets.each do |tweet|
                            %li.stream-item
                              .tweet.clearfix
                                .content
                                  .stream-item-header
                                    = link_to(user_path(tweet.user), class: "account-group") do
                                      - if tweet.user.image_avatar.present? then
                                        = image_tag(tweet.user.image_avatar.url, size: "48x48", class: "avatar")
                                      - else
                                        = image_tag("default_profile_normal.png",size: "48x48", class: "avatar")
                                      %span.FullnameGroup
                                        = tweet.user.nickname
                                      %span.username
                                        = "@" + tweet.user.name
                                    %span.time
                                      = l tweet.created_at, format: :default
                                  .tweet-text-container
                                    %p.tweettext
                                      = simple_format(h(tweet.tweet))
                                  .stream-item-footer









