.global-nav.global-nav--newLoggedin
  .container.container--signin
    %ul.nav--global-actions
      %li.global-nav-home
        = link_to root_path do
          %i.fa.fa-twitter
.page-outer.page-outer
  - if alert == "Invalid Email or password."
    .alert-messages
      .message
        %a.close{href: ""}
          %i.fa.fa-times
        %span.message-text 入力されたメールアドレスまたはパスワードに誤りがあります。再度お試しください。
  .page-container.wrapper.wrapper-signin
    .page-canvas.page-canvas-signin
      .signin-wrapper
        %h1 Twitterにログイン
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          %fieldset
            .field
              = f.email_field :email, autofocus: true, placeholder: "メールアドレス"
            .field
              = f.password_field :password, autocomplete: "off", placeholder: "パスワード"
          .clearfix
            .sign-in-box
              = f.submit "ログイン", class: 'EdgeButton EdgeButton--medium EdgeButton--primary'
            .subchck
              .remember
                = f.check_box :remember_me, checked: "checked"
                = f.label :remember_me, value: "保存する"
