.page-outer
  -if @tweet.errors.any?
    .alert-messages
      .message
        %a.close{href: ""}
          %i.fa.fa-times
        - @tweet.errors.full_messages.each do |msg|
          %span.message-text= msg
  #page-container.AppContent.clearfix
    .dashboard
      .DashboardProfileCard
        = link_to(user_path(current_user), class: "DashboardProfileCard-bg u-bgUserColor") do
          - if current_user.image_canopy.present? then
            = image_tag(current_user.image_canopy.url, size: "288x95")
        .DashboardProfileCard-content
          .DashboardProfileCard-avatarContainer
            .avatar-settings
              = link_to user_path(current_user), class: "DashboardProfileCard-avatarLink" do
                - if current_user.image_avatar.present? then
                  = image_tag(current_user.image_avatar.url, class: "DashboardProfileCard-avatarImage")
                - else
                  .DashboardProfileCard-avatarImage.u-bgUserColor
                    %i.fa.fa-camera
          .DashboardProfileCard-userFields
            .DashboardProfileCard-name
              = link_to current_user.nickname, user_path(current_user), class: "u-textInheritColor"
            %span.DashboardProfileCard-screenname.u-inlineBlock
              = link_to user_path(current_user), class: "DashboardProfileCard-screennameLink" do
                %b.username
                  = "@" + current_user.name
          .ProfileCardStats
            %ul.ProfileCardStats-statList.Arrange.Arrange--bottom.Arrange-equal
              %li.ProfileCardStats-stat.Arrange-sizeFit
                %a.ProfileCardStats-statLink.u-textUserColor.u-linkClean.u-block{href:""}
                  %span.ProfileCardStats-statLabel.u-block
                    ツイート
                  %span.ProfileCardStats-statValue
                    100
              %li.ProfileCardStats-stat.Arrange-sizeFit
                %a.ProfileCardStats-statLink.u-textUserColor.u-linkClean.u-block{href:""}
                  %span.ProfileCardStats-statLabel.u-block
                    フォロー
                  %span.ProfileCardStats-statValue
                    50
              %li.ProfileCardStats-stat.Arrange-sizeFit
                %a.ProfileCardStats-statLink.u-textUserColor.u-linkClean.u-block{href:""}
                  %span.ProfileCardStats-statLabel.u-block
                    フォロワー
                  %span.ProfileCardStats-statValue
                    25
    .content-main.top-timeline-tweetbox
      .timeline-tweet-box
        .home-tweet-box
          - if current_user.image_avatar.present? then
            = image_tag(current_user.image_avatar.url,size: "32x32", class: "top-timeline-tweet-box-user-image")
          - else
            = image_tag("default_profile_normal.png",size: "32x32", class: "top-timeline-tweet-box-user-image")
          = form_for(@tweet, html:{class: "t1-form clearfix"}) do |f|
            .tweet-content
              .editor-container
                = f.text_area :tweet, autofocus: false, class: "editor", maxlength: "240", placeholder: "いまどうしてる？"
            .tweetboxtoolbar
              .tweetboxtoolbar-tweetButton
                = f.submit "ツイート", class: "EdgeButton EdgeButton--medium EdgeButton--primary2"
      .stream-container
        .stream
          %ol.stream-items
            - @tweets.each do |tweet|
              %li.stream-item
                .tweet.clearfix
                  .content
                    .stream-item-header
                      = link_to(user_path(tweet.user), class: "account-group") do
                        - if tweet.user.image_avatar.present? then
                          = image_tag(tweet.user.image_avatar.url, size: "48x48", class: "avatar")
                        - else
                          = image_tag("default_profile_normal.png",size: "48x48", class: "avatar")
                        %span.FullnameGroup
                          = tweet.user.nickname
                        %span.username
                          = "@" + tweet.user.name
                      %span.time
                        = l tweet.created_at, format: :default
                    .tweet-text-container
                      %p.tweettext
                        = tweet.tweet
                    .stream-item-footer




