%ul.nav--right-actions.pull-right
  %li
    %a{href: "/"}
      - if current_user.image_avatar.present? then
        = image_tag(current_user.image_avatar.url,size: "32x32", class: "avatar dropdown-toggle", id: "topbar-dropdown-toggle")
      - else
        = image_tag("default_profile_normal.png",size: "32x32", class: "avatar dropdown-toggle", id: "topbar-dropdown-toggle")
    .dropdown-menu#topbar-dropdown-menu
      .dropdown-caret
        .caret-wrapper
          .caret-outer
            %i.fa.fa-caret-up
          .caret-inner
            %i.fa.fa-caret-up
      %ul
        %li.DashUserDropdown-userInfo
          = link_to user_path(current_user), class: "DashUserDropdown-userInfoLink" do
            %b.fullname
              = current_user.nickname
            %p.name
              = "@" + current_user.name
        %li.dropdown-divider
        %li.current-user
          = link_to user_path(current_user) do
            %i.fa.fa-user-o
            プロフィール
        %li.dropdown-divider
        %li.signout-button
          = link_to "ログアウト", destroy_user_session_path, method: :delete
  %li
    %button.EdgeButton.EdgeButton--medium.EdgeButton--primary2#tweet-topbar-button
      ツイート
