.stream-container
  .stream
    %ol.stream-items
      - @tweets.each do |tweet|
        %li.stream-item
          .tweet.clearfix
            .context
              - if tweet.retweeted_by?(@users) then
              - retweeted_user = tweet.recent_retweeted_user(@users)
                .tweet-context.with-icn
                  %i.fa.fa-retweet
                  %span
                    =link_to(user_path(retweeted_user),class: "pretty-link") do
                      - if retweeted_user == current_user then
                        自分
                      - else
                        = retweeted_user.nickname
                    がリツイート
            .content
              .stream-item-header
                = link_to(user_path(tweet.user), class: "account-group") do
                  - if tweet.user.image_avatar.present? then
                    = image_tag(tweet.user.image_avatar.url, size: "48x48", class: "avatar")
                  - else
                    = image_tag("default_profile_normal.png",size: "48x48", class: "avatar")
                  %span.FullnameGroup
                    = tweet.user.nickname
                  %span.username
                    = "@" + tweet.user.name
                %span.time
                  = l tweet.created_at, format: :default
              .tweet-text-container
                %p.tweettext
                  = simple_format(h(tweet.tweet))
              .AdaptiveMediaOuterContainer
                - if tweet.image.present? then
                  = image_tag(tweet.image, class: "AdaptiveMedia is-square")


              .stream-item-footer
